<?xml version="1.0" encoding="UTF-8"?>
<suite name="AppUI Test Suite" parallel="false" allow-return-values="false" >

	<parameter name="propertiesPath" value="src/test/resources/config/config.properteis" />
	<parameter name="platformName" value="Android" />
	<parameter name="platformVersion" value="11" />
	<parameter name="deviceName" value="emulator-5554" />
	<parameter name="appPackage" value="com.google.deskclock" />
	<parameter name="appActivity" value="com.android.deskclock.DeskClock" />
	<parameter name="appiumURL" value="http://127.0.0.1:4723/wd/hub" />


	<listeners>
		<listener class-name="listener.TestLogListener" />
	</listeners>
	 
	<test name="emulatorTest">
	    <classes>
	      <class name="testcases.LoginPageTest"/>
	    </classes>
	   <methods>
	   		<include name = "testLogin" />
	   </methods>
	  </test> <!-- Test -->
	 
</suite> <!-- Suite -->
